<?xml version="1.0"?>
<launch>

  <!-- Load Gazebo with the world file -->
  <arg name="world_file" default="$(find my_truckie)/worlds/highway.world" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="use_sim_time" value="true"/>
  </include>

  <!-- first obstacle -->
  <group ns="/npc1">
    <param name="tf_prefix" value="npc1_tf" />
    <param name="/npc1/robot_description" command="$(find xacro)/xacro --inorder $(find my_truckie)/urdf/npc.urdf.xacro"/>
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <node name="urdf_spawner_1" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -unpause -urdf -model npc1 -param robot_description " respawn="false" output="screen">
      </node>
    <node name="control_npc" pkg="my_truckie" type="spawn_obstacles.py" args="npc1 3" output="screen" />
  </group>

  <!-- second obstacle -->
  <group ns="/npc2">
    <param name="tf_prefix" value="npc2_tf" />
    <param name="/npc2/robot_description" command="$(find xacro)/xacro --inorder $(find my_truckie)/urdf/npc.urdf.xacro"/>
      <arg name="init_pose" value="-x 0 -y -5.0 -z 0" />
      <node name="urdf_spawner_2" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -unpause -urdf -model npc2 -param robot_description " respawn="false" output="screen">
      </node>
    <node name="control_npc" pkg="my_truckie" type="spawn_obstacles.py" args="npc2 -3" output="screen" />
  </group>
  

</launch>

