<?xml version="1.0"?>
<launch>

<!-- Load Gazebo with the world file -->
  <arg name="world_file" default="$(find my_truckie)/worlds/highway.world" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="use_sim_time" value="true"/>
  </include>

  <group ns="/ego_vehicle">
    <param name="tf_prefix" value="ego_vehicle_tf" />
    <param name="/ego_vehicle/robot_description" command="$(find xacro)/xacro --inorder $(find my_truckie)/urdf/ego_vehicle.xacro"/>
      <arg name="init_pose" value="-x -20 -y 3.5 -z 0" />
      <node name="urdf_spawner_ev" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -unpause -urdf -model ego_vehicle -param robot_description " respawn="false" output="screen">
      </node>
    <rosparam file="$(find my_truckie)/config/joints.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen"
      args="joint_state_controller
      hitch_joint_position_controller
      --timeout 60">
    </node>
    <node name="control_ego_vehicle" pkg="my_truckie" type="ego_vehicle.py" output="screen" args="--timeout 10" />
  </group>

  <group ns="/follower_vehicle">
    <param name="tf_prefix" value="follower_tf" />
    <param name="/follower_vehicle/robot_description" command="$(find xacro)/xacro --inorder $(find my_truckie)/urdf/follower_vehicle.xacro"/>
      <arg name="init_pose" value="-x -40 -y 3.5 -z 0" />
      <node name="urdf_spawner_ev" pkg="gazebo_ros" type="spawn_model"
        args="$(arg init_pose) -unpause -urdf -model follower_vehicle -param robot_description " respawn="false" output="screen">
      </node>
    <rosparam file="$(find my_truckie)/config/joints.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen"
      args="joint_state_controller
      hitch_joint_position_controller
      --timeout 60">
    </node>
    <!-- <node name="control_follower_vehicle" pkg="my_truckie" type="follower_vehicle.py" output="screen" args="- -timeout 10" /> -->
  </group>


  <!-- <node name="control_follower_vehicle" pkg="my_truckie" type="follower_vehicle.py" output="screen" args="- -timeout 10" /> -->


</launch>