<launch>
    <group ns="sim1">
        <node name="turtle" pkg="turtlesim" type="turtlesim_node"/>
        <node name="controller" pkg="turtlesim" type="draw_square"/>
    </group>
    <group ns="sim2">
        <node name="turtle" pkg="turtlesim" type="turtlesim_node"/>
        <node name="controller" pkg="turtlesim" type="draw_square"/>
    </group>
</launch>